*{
    margin: 0;
}
body{
    background-color:#FFA4A4;
}
.heading{
    color: #661E1E;
  font-family: "Love Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:50px;
  text-align: center;
}
.board{
    height: 350px;
    width: 80%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left:40px ;
    border-radius:6px;
border: 2px solid white;
    background-color: #59A0FF;
    
    
}
.boyname{
 margin-top:60px;
 width:80%;
 height:30px;
 border-radius:6px;
 border: 2px solid red  ;
 margin-left: 26px;
}

.girlname {
    margin-top:20px;
    width: 80%;
    height: 30px;
    border-radius: 6px;
    border: 2px solid red;
    margin-left: 26px;
}
.boyage {
    margin-top: 20px;
    width: 80%;
    height: 30px;
    border-radius: 6px;
    border: 2px solid red;
    margin-left: 26px;
}
.girlage {
    margin-top: 20px;
    width: 80%;
    height: 30px;
    border-radius: 6px;
    border: 2px solid red;
    margin-left: 26px;
}

.sub{
    background-color: #FABAA6;
    margin-top: 20px;
width: 60%;
height: 30px;
border-radius: 6px;
border: 2px solid red;
margin-left: 59px;
}
.img1{
    background:  url(gif1.gif);
    height:200px;
    width:200px;
    background-size:cover;
    margin-left:10px;
    margin-top:60px;
}
.prank{
    display:none;
    height: 350px;
width: 80%;
justify-content: center;
justify-items: center;
align-items: center;
margin-left:40px;
border-radius:6px;
border: 2px solid white;
background-color: white;
}
.pwimg{
    background: url(pw.jpeg) ;
    height:330px;
    width:260px;
    background-size:cover;
    border-radius:6px;
border: 2px solid white;
}